@model IEnumerable<LNTADSpreadsheets.Models.ReportModel>

@{
    ViewData["Title"] = "FASB Report Spreadsheets";
}


<style>
    #submitButton {
        background-color: #e8171f;
        color: #fff;
    }

    .submit-progress {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 6em;
        padding-top: 1.75em;
        width: 20em;
        margin-left: -10em;
        padding-left: 1em;
        background-color: black;
        color: white;
        text-align: center;
        -webkit-border-radius: 0.4em;
        -moz-border-radius: 0.4em;
        border-radius: 0.4em;
        box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
        z-index: 9;
    }

        .submit-progress i {
            margin-right: 0.5em;
        }

    .modal-body {
        padding: 2rem;
        font-size: 16px;
    }

    .modal-header {
        display: initial;
        font-size: 16px;
    }

    .tCenter {
        text-align: center;
    }

    #uploadBtn, #archiveBtn {
        background-color: #e8171f;
        color: #fff;
        width: auto;
        float: right;
    }

    #uploadBtn {
        margin-left: 10px;
    }

    thead {
        cursor: pointer;
    }
</style>


<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-info" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
                @using (Html.BeginForm("Upload", "Report", FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmTransaction" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="control-label" style="width:360px;">&nbsp;Upload a File</label>
                        <br />
                        <input type="file" name="postedFiles" multiple />
                        <br />
                        <br />
                        <input type="submit" class="form-control btn" id="submitButton" style="width:115px;" value="UPLOAD" onclick="return DisplayProgressMessage();" />
                        <br />
                        <br />
                        <div id="ViewBagUpload">
                            <span style="color:green">@Html.Raw(ViewBag.UploadMsg)</span>
                        </div>
                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger font-weight-bold", @style = "margin-left: 20px;" })
                    </div>
                }
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="clearModal()">CANCEL</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="form-group" id="aboveID">
    <h4 style="float: left;">FASB Compare Report</h4>
    <button type="button" class="form-control btn" id="uploadBtn" value="UPLOAD" onclick="displayUploadForm();"><i class="fas fa-upload"></i> UPLOAD</button>
</div>
<br />
<br />
<table class="table" id="dataTable-Archive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th class="tCenter">
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th class="tCenter">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th class="tCenter">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td class="tCenter">
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td class="tCenter">
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td class="tCenter">
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <a asp-action="Download" asp-controller="Report" asp-route-filename="@item.FileName"><i class="fas fa-file-download"></i></a>&nbsp;|&nbsp;
                    <a asp-action="Delete" asp-controller="Report" asp-route-filename="@item.FileName" asp-route-view="fasbcompare" onclick="return confirm('Do you wish to delete?')"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="submit-progress" style="display: none" id="loader">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
    <label>Loading. Please wait...</label>
</div>

<br />
<br />
@section Styles {
    <link href="@Url.Content("~/css/datatable.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
}

<script type="text/javascript">
	var status = "@ViewBag.Status";
	var uploadStatus = "@ViewBag.UploadMsg";

    $(document).ready(function () {

		if (status != "") {
            $('#myModal').modal('show');
		}

		if (uploadStatus != "") {
			displayUploadForm();
		}

		$('#dataTable-Archive').dataTable({
			"order": [],
		});
	});

	function displayUploadForm()
	{
		$('#uploadModal').modal('show');
	}

	function DisplayProgressMessage() {

		$("#submitButton").prop('disabled', true);
		$("#submitButton").attr('value', "Uploading...");
		$("#loader").show();
		var form = $("#frmTransaction");
		form.submit();
	}

	function clearModal() {
		$(".validation-summary-errors").empty();
		$("#ViewBagUpload").hide();
	}

</script>