@model LNTADSpreadsheets.Models.UpdateUserModel

@{
	ViewData["Title"] = "Accounts";

	List<SelectListItem> listUser = new();
	SelectListItem in1 = new();
	in1.Text = "USER";
	in1.Value = "USER";
	listUser.Add(in1);

	SelectListItem in2 = new();
	in2.Text = "ADMIN";
	in2.Value = "ADMIN";
	listUser.Add(in2);

}

<style>
	#btnSignup {
		background-color: #e8171f;
		color: #fff;
		width: 120px;
	}

	.modal-body {
		padding: 2rem;
		font-size: 16px;
	}

	.modal-header {
		display: initial;
		font-size: 16px;
	}

	#submitButton {
		background-color: #e8171f;
		color: #fff;
	}

	.submit-progress {
		position: fixed;
		top: 50%;
		left: 50%;
		height: 6em;
		padding-top: 1.75em;
		width: 20em;
		margin-left: -10em;
		padding-left: 1em;
		background-color: black;
		color: white;
		text-align: center;
		-webkit-border-radius: 0.4em;
		-moz-border-radius: 0.4em;
		border-radius: 0.4em;
		box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
		-webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
		-moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
		z-index: 9;
	}

		.submit-progress i {
			margin-right: 0.5em;
		}
</style>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close btn-info" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Update Summary</h4>
			</div>
			<div class="modal-body" id="modal-body">
				@ViewBag.State
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="user signup">
	<div class="form">
		@using (Html.BeginForm("Update", "Accounts", FormMethod.Post, new { @role = "form", @id = "frmUpdate" }))
		{
			@Html.AntiForgeryToken()

			<h4>Update Account</h4>
			<hr />
			<label class="control-label" style="width:360px;">Email Address</label>
			@Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @readonly = "readonly", @placeHolder = "Email Address", @style = "width: 720px;" })
			@Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
			<br />
			<label class="control-label" style="width:360px;">First Name</label>
			@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @required = "required", @placeHolder = "First Name", @style = "width: 720px;" })
			@Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
			<br />
			<label class="control-label" style="width:360px;">Last Name</label>
			@Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @required = "required", @placeHolder = "Last Name", @style = "width: 720px;" })
			@Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
			<br />
			<label class="control-label" style="width:360px;">Select Role</label>
			<br />
			@Html.DropDownListFor(model => model.Role, listUser, new { @class = "form-control", @style = "width:360px;" })
			@*@Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })*@
			<br />
			<input type="submit" id="btnSignup" value="UPDATE" class="form-control btn" onclick="SubmitForm()" />
			<br />
			
		}
	</div>
</div>
<br />
<br />
<div class="submit-progress" style="display: none" id="loader">
	<i class="fa fa-2x fa-spinner fa-spin"></i>
	<label>Loading. Please wait...</label>
</div>


<script type="text/javascript">
	var modal = "@ViewBag.State";

	$(document).ready(function () {

		if (modal != "") {
            $('#myModal').modal('show');
        }

	});

	function SubmitForm() {

		$("#submitButton").prop('disabled', true);
		$("#submitButton").attr('value', "Updating...");
		$("#loader").show();
		var form = $("#frmUpdate");
		form.submit();
	}

</script>